﻿<div ng-app="moduleName">

    <!-- Declare the section driven by a given Controller -->
    <div ng-controller="controllerName">

        <h1>Angular is cool!</h1>

        <!-- Enable the user to declare a new person in the room -->
        <input type="text" ng-model="name" placeholder="Enter your name" />
        <button ng-click="add(name)">Add!</button>

        <br />
        <input type="text" ng-model="query" placeholder="Search..." />
        <a href="#" ng-click="sortByName()">Sort by name</a>
           
        <ol>
            <li ng-repeat="person in names | filter:query | orderBy:predicate">{{ person.name }}</li>
        </ol>

    </div>

</div>

<!-- Likely written in external .JS file -->
<script>

    // build the module (named 'module'), and in it, build a controller
    // (named 'controller')...
    angular.module('moduleName', []).controller('controllerName', function ($scope) {

        $scope.sortByName = function () {
            $scope.predicate = 'name';
        };

        // enable new names to be added!
        $scope.add = function (name) {
            $scope.names.push(name);
            
            // reset the scope name...
            $scope.name = '';
        };

        $scope.names = [
            { name: 'Nathan' },
            { name: 'Fidan' },
            { name: 'Rob' }
        ];

    });
</script>

