﻿@using AngularFun.Models
@using System.Web.Script.Serialization
@model Car

<div ng-app="mod">
    <div ng-controller="con">
        <br />
        <br />
        <!-- form for adding a new car to the showroow -->
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" ng-submit="handleNewCar()">
                    <!-- Make of the car -->
                    <div ng-class="{ 'form-group': true, 'has-error': validationResults && !validationResults.inputMake.ok }">
                        <label for="inputMake" class="col-sm-2 control-label">Make</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputMake" placeholder="E.g. Ford">
                            
                            <!-- Error message span -->
                            <span ng-show="validationResults.inputMake.message" class="help-block">
                                {{ validationResults.inputMake.message }}
                            </span>
                        </div>

                    </div>

                    <!-- Image link -->
                    <div class="form-group">
                        <label for="inputImg" class="col-sm-2 control-label">Image URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputImg" placeholder="E.g. http://example.com/pic.png">
                        </div>
                    </div>

                    <!-- Price (£) -->
                    <div class="form-group">
                        <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPrice" placeholder="E.g. 100">
                        </div>
                    </div>
                    
                    <!-- Submit button -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Add Car</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-7">
                <img src="{{ featured.Img }}" width="100%" />
            </div>
            <div class="col-md-5">
                <h3>{{ featured.Make }}</h3>
                <h4>{{ featured.Price }}</h4>
                <br />

                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#" ng-click="prev()"><span aria-hidden="true">&larr;</span> Prev</a></li>
                        <li class="next"><a href="#" ng-click="next()">Next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
            <hr />
            <div ng-repeat="car in cars" class="col-md-2">
               <a href="#" ng-click="setFeatured(car)">{{ car.Make }}</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Controller.js"></script>
<script>

    // need to pass a var such that it's
    // available to my Controller.js lib
    @{ 
        int result = 12 * 3;
    }
    var param = @result;
    var controllerFunc = buildPostController(param);
    angular.module('mod', []).controller('conName', controllerFunc);










    angular.module('mod', []).controller('con', function ($scope, $http) {
        function Car(make, price, img) {
            this.Make = make;
            this.Price = price;
            this.Img = img;
        }

        $scope.setFeatured = function (car) {
            $scope.featured = car;
        }

        $scope.next = function () {
            var index = $scope.cars.indexOf($scope.featured);
            $scope.featured = $scope.cars[ ++index % $scope.cars.length ];
        };

        $scope.prev = function () {
            var index = $scope.cars.indexOf($scope.featured);
            $scope.featured = $scope.cars[ --index % $scope.cars.length ];
        };

        // this method is triggered on submission of a new car, it should:
        // 1. Validate the form data
        // 2. If validation fails, put some data into the scope detailing the reasons for failure
        // 3. If validation succeeds - add a new car to the $scope.cars
        // 4. Later on - notify the server a new car, via AJAX!!!! Wahoo! That will be fun! No really,
        // it will be :-)
        $scope.handleNewCar = function () {
            // this object will represent all the validation results, for all inputs
            //var validationResults = {
            //    inputMake: undefined,
            //    inputPrice: undefined,
            //    inputImg: undefined
            //};

            //// assume that the input is bad...
            //validationResults.inputMake = {
            //    ok: false,
            //    message: 'fdsjk'
            //};

            //validationResults.inputPrice = {
            //    ok: false,
            //    message: ''
            //};

            //validationResults.inputImg = {
            //    ok: false,
            //    message: ''
            //};

            //$scope.validationResults = validationResults;

            $scope.cars.push(new Car($scope.inputMake, $scope.inputPrice, $scope.inputImg));

            // send a POST requets to the server, to cause the new car to be written to the DB
        };

        // now initialise the list of cars that I wish to show...
        // this will be done using the $http service (make sure to ask for it by name!)
        // 1. we will issue an http request to /api/Car
        // 2. we will get back a JSON result (I wonder if Angular can help me make sense of it!)
        // 3. populate the $scope.cars variable, and set a default featured car
        var getPromise = $http.get('/api/Car');

        // what to do when we get a 200 OK success from the server (containing Cars)
        getPromise.success(function (cars) {

            // assign the cars that I was fed by the server, into the scope, so it
            // may be read by the view template
            $scope.cars = cars;

        });

        // what to do when we fail!
        getPromise.error(function () {
            alert('FAILURE IS SO HARD!!!');
        });

        @{
            // build a JavaScript Serializer
            JavaScriptSerializer serializer = new JavaScriptSerializer();

            // now use the serializer to turn the object, into JSON
            string json = serializer.Serialize(Model);
        } 

        // set the featured car to the one specified on page load
        // var featuredCar = new Car('@Model.Make', @Model.Price, '@Model.Img');
        
        // assign the featured car from the JSON serialization
        var featuredCar = @Html.Raw(json) ;
        $scope.setFeatured(featuredCar);

                
    });
</script>